extends ../layouts/main

block styles
    link(rel="stylesheet" href="/css/banned.css")

block content
    .banned-container
        h1 You are banned
        p Sorry, you are banned from this server.