extends ../layouts/main

block styles
    link(rel="stylesheet" href="/css/help.css")

block content
    .help-container
        .help IN&nbsp;
            strong SOON
        .return
            a(href="/").btn.btn-primary Go Back