.form-container {
    position: relative;
    top: 100px;
    left: 50%;
    width: max-content;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1.form-title {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: var(--color-grey-too-light);
    cursor: default;
    margin-bottom: 20px;
}

.form-container .alert {
    margin-bottom: 15px;
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.form-container form input {
    margin-bottom: 8px;
    width: 400px;
}

.form-container .info-text {
    margin-top: 15px;
    color: var(--color-grey-light);
    font-size: 14px;
    font-weight: 400;
    cursor: default;
}

.form-container .info-text a {
    text-decoration: none;
    font-weight: 500;
}

.form-container .info-text a:hover, .form-container .info-text a:focus {
    text-decoration: underline;
}
