extends ../layouts/main

block styles
    link(rel="stylesheet" href="/css/form.css")

block content
    .form-container.edit-account-form
        h1.form-title Edit Account

        if successMessage
            .alert.alert-success #{successMessage}
        else if flashMessage
            .alert.alert-danger #{flashMessage}

        form(method="POST" action="/edit-account")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            input(type="text" name="username" placeholder="Username" value=`${username}` autocomplete="off").input.input-primary
            button(type="submit").btn.btn-primary Save
        br
        a(href="/chat").btn.btn-primary-reversed Go Back

block script
    script(src="/js/socket.io.min.js")
    script(src="/js/utils.js")
    script
        | var socket = io();
        | socket.on('connect first', function () {
        |     socket.emit('save user', getCookie('hashed_id'));
        | });