extends ../layouts/main

block styles
    link(rel="stylesheet" href="/css/error.css")

block content
    .error-container
        .error
            .title #{code}
            .message #{message}
            .return
                a(href=`/${admin ? 'admin' : ''}`).btn.btn-primary Go Back